<script type="text/javascript" src="/scripts/event_new_vote.js"></script>

<form class="new-vote-form">

  <!-- when valid user_id cookie is not present, ask user to input username and email -->
  <input type="text" name="url" value="<%= event.url %>" style="display:none">

  <div class="input-field">
    <input type="text" name="username">
    <label for="username">Name</label>
  </div>
  <div class="input-field">
    <input type="email" name="email">
    <label for="email">Email</label>
  </div>

  <!-- display each event_option and its checkbox -->
  <div class="row">
    <% event_options.forEach(function(event_option) { %>
      <div class="col-lg-12">
        <div class="input-group">
          <p class="form-control" aria-label="Text input with checkbox"><%= event_option.option %></p>
          <span class="input-group-addon">
            <input type="checkbox" class="vote" value="false" data-event_option="<%= event_option.id %>" aria-label="Checkbox for following text input">
          </span>
        </div>
      </div>
    <% }); %>
  </div>

  <button class="btn btn-primary btn-block">Save</button>
</form>

