<div class="row">
  <form class="event-edit col-md-12">
    <input type="text" name="url" value="<%= event.url %>" style="display:none">
    <div class="row">
      <div class="input-field col-md-12">
        <input name= "event_name" placeholder="Please enter an event name" id="event_name" type="text" class="validate">
        <label for="event_name">Event Name</label>
      </div>
    </div>

    <div class="row">
      <div class="input-field col-md-12">
        <textarea name="description" placeholder="Event description" id="event_description" class="materialize-textarea"></textarea>
        <label for="event_description">Event Description</label>
      </div>
    </div>

    <% var count = 0 %>
    <div class="input-fields-wrap">
      <% event_options.forEach(function(event_option) { %>
        <% count++; %>
        <div>
          <input type="text" name="option" class="event-options" data-event_option="<%= event_option.id %>">
          <a class="remove-field btn-floating btn-tiny waves-effect waves-light green"><i class="material-icons">remove</i></a>
        </div>
      <% }); %>
    </div>
    <a class="add-field-button btn-floating btn-tiny waves-effect waves-light red"><i class="material-icons">add</i></a>

    <input type="text" name="count" value="<%= count %>" style="display:none">
    <button>Update</button>
  </form>
</div>
