<title><%= title %></title>

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="shortcut icon" type="image/png" href="img/calendar-icon.png">

<!-- Vendor Styles -->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
<link rel="stylesheet" href="vendor/bootstrap.min.css" rel="stylesheet">

<!-- App Styles -->
<link href="styles/layout.css" rel="stylesheet">

<!-- Vendor Scripts -->
<script type="text/javascript" src="vendor/jquery-3.3.1.min.js">></script>
<script type="text/javascript" src="vendor/bootstrap.min.js"></script>
<script type="text/javascript" src="vendor/mdb.min.js"></script>

<!-- App Scripts -->
<script type="text/javascript" src="scripts/app.js"></script>
