<!-- <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#appModal">Open Modal</button> -->

<script type="text/javascript" src="scripts/modal.js"></script>

<div class="modal fade" id="appModal" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">

      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Placeholder Title</h4>
      </div>

      <div class="modal-body">
        <p>Placeholder Message</p>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>

    </div>

  </div>
</div>
