<div class="col-md-6">
  <div class="panel with-nav-tabs panel-default">
    <div class="panel-heading">
      <ul class="nav nav-tabs">
        <li class="active"><a href="#voteTab" data-toggle="tab">Vote</a></li>
        <li><a href="#chooseTab" data-toggle="tab">Choose</a></li>
        <li><a href="#editTab" data-toggle="tab">Edit</a></li>
      </ul>
    </div>
    <div class="panel-body">
      <div class="tab-content">
        <div class="tab-pane fade in active" id="voteTab">
          <%- include ./_event_vote %>
        </div>
        <div class="tab-pane fade" id="chooseTab">
          <%- include ./_event_choose %>
        </div>
        <div class="tab-pane fade" id="editTab">
          <%- include ./_event_edit %>
        </div>
      </div>
    </div>
  </div>
</div>
