<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/_head', {title: 'Index Page'}); %>
    <script type="text/javascript" src="/scripts/index.js"></script>
    <script type="text/javascript" src="/scripts/button_list.js"></script>
</head>

<body>
  <%- include ./partials/_navbar %>

  <div class="modal fade" id="newEventModal" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">

        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">You've made an event!</h4>
        </div>

        <div class="modal-body">
          <p>Congratulations on creating an event for your friends to vote on!</p>
          <p>Here is the link to send:</p>
          <a id="new-url" href="#"></a>
          <hr>
          <p>When you visit the page from your current web browser, you have the option of
            making a final decision to close down voting and notify the participants</p>
          <hr>

          <a class="social btn btn-primary waves-effect waves-light" href="https://www.facebook.com/sharer/sharer.php?u="><i class="fa fa-facebook"> </i> <span>Facebook</span> </a>
          <a class="social btn btn-info waves-effect waves-light" href="https://twitter.com/home?status="><i class="fa fa-twitter"> </i> <span>Twitter</span></a>
          <a class="btn btn-danger waves-effect waves-light" href="https://plus.google.com/share?url="><i class="fa fa-google-plus"> </i> <span>Google +</span></a>
        </div>

        <div class="modal-footer">
          <button id='modal-close' type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>

      </div>

    </div>
  </div>


  <form class="new-schoodle-form col-md-6 col-md-offset-3">
    <div class="panel-group">

      <div class="panel panel-primary">
        <div class="panel-heading">Step 1: Input your information</div>
        <div class="panel-body">
          <div class="input-field">
            <input type="text" name="username" required>
            <label for="username">Name</label>
          </div>
          <div class="input-field">
            <input type="email" name="email" required>
            <label for="email">Email</label>
          </div>
        </div>
      </div>

      <div class="panel panel-primary">
        <div class="panel-heading">Step 2: Input the event description</div>
        <div class="panel-body">
          <div class="input-field">
            <label for="event_name">Event Name</label>
            <input type="text" name="event_name" required>
          </div>
          <div class="input-field">
            <input type="text" name="description">
            <label for="description">Event Description</label>
          </div>
        </div>
      </div>

      <div class="panel panel-primary">
        <div class="panel-heading">Step 3: Create Options
          <a class="add-field-button btn-floating btn-tiny waves-effect waves-light red"><i class="material-icons">add</i></a>
        </div>
        <div class="panel-body" id="options-panel-body">
          <div class="input-fields-wrap">
            <div class="input-field">
              <label for="option">Option</label>
              <input class="options" type="text" name="option"required>
            </div>
            <div class="input-field">
              <label for="option">Option</label>
              <input class="options" type="text" name="option"required>
            </div>
          </div>
        </div>
      </div>

      <div class="panel panel-info">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" href="#collapse1">Optional Step 4: Extra Settings</a>
          </h4>
        </div>
        <div id="collapse1" class="panel-collapse collapse">
          <div class="panel-body">
            <ul>
              <li>Come back later for more options!</li>
            </ul>
          </div>
        </div>
      </div>

    <button class="btn btn-primary">Create a Schoodle!</button>
    </div>
  </form>
</body>

</html>
